amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
kombu==5.6.2
packaging==26.2
prompt_toolkit==3.0.52
PyJWT==2.12.1
python-dateutil==2.9.0.post0
redis==7.4.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.7.0
python-docx==1.1.2
pdfplumber==0.11.3
django-cors-headers>=4.3
django-filter>=23.5
python-decouple>=3.8
Pillow>=10.0
drf-spectacular>=0.27

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
transformers==4.46.3
sentence-transformers==3.3.1
networkx==3.4.2
nltk==3.9.1